@model Gallaria.ApiClient.DTOs.PersonDto;
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Change password";
}

<style>
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
</style>


<section class="h-100 full-width bg-primary" style="background: -webkit-linear-gradient(left, #3931af, #00c6ff); margin-top: -1.5%">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black my-3" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-12 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update Password</p>
                                <form class="row col-12" asp-action="UpdatePassword" method="post">
                                    <div class="col-md-6 col-sm-12">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="d-flex flex-row align-items-center mb-4 form-group">
                                            <i class="align-self-start mt-3 fa fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0 ml-3">
                                                <input type="text" id="form3Example1c" class="form-control" asp-for="NewPassword" required />
                                                <label class="form-label" for="form3Example1c">New Password</label>
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex col-12 justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" class="btn btn-primary btn-block col-8" data-toggle="modal" data-target="#featureNotImplemented">
                                            Update password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="featureNotImplemented" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feature error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This feature is not implemented yet!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
